body {
    font-family: sans-serif;
    margin: 0;
    background-color: rgb(255, 255, 255);

    
  }
  

header{
    width:100%;
    background-color: hsl(0, 0%, 20%);
    overflow:hidden;
  }

header img{
  float: left;
  width: 100px;
  height: 100px;
}

section {
  margin: auto;
  max-width: 80%;
  height: auto;
  overflow: auto;
}


.card{
  background-color: rgb(29, 29, 29);
  color: white;
  width: 23%;
  padding: 10px;
  box-sizing: border-box;
  margin:10px;
  float: left;
  text-align: center;
  border-radius: 5px;
  overflow: auto;
}



@media screen and (max-width: 850px) {
  .card {
    width: 100%;
  }
}